#cat-list {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding 8px 0;
  font-size: 1.5em;
  text-decoration: none;
  list-style-type: none;
}

#cat-list ul {
  text-decoration: none;
  color: #2196f3;
  display: block;
}

#cat-list li {
	padding: 3px;
}

#cat {
	margin-top: 20px;
	text-align: center;
}

#cat-img {
	border-radius: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 20px;}
}
